[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #753535;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #466c9d;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {

}
