.greetingForm {
    margin: 20px;
}

.inputAndButtonContainer {
}

.error {
    margin: 10px 10px;

}

.input {
    outline: none;
    margin: 10px 10px;
    border: 1px solid #6fb5c5;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #6fb5c5;
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    transition-duration: .3s;
}

.input:focus {
    box-shadow: 0 0 5px 1px #fff;
    transition-duration: .3s;
}

.errorInput {
    outline: none;
    margin: 10px 10px;
    border: 1px solid #c56f6f;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #c56f6f;
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    transition-duration: .3s;
}

.button {
    margin: 10px 10px;

    border-radius: 4px;
    box-shadow: 0 0 10px 1px #fff;
    color: #294f58;
    background-color: #bae2ec;
    width: 80px;
    height: 30px;
    font-size: 20px;
    transition-duration: .3s;
}

.button:focus {
    box-shadow: 0 0 5px 1px #fff;
    background-color: #6fb5c5;
    transition-duration: .3s;
}

.button:active {
    box-shadow: 0 0 2px 1px #fff;
    background-color: #7fc9ad;
    transition-duration: .3s;
}

.button:disabled {
    background-color: #d4dedc;
    transition-duration: .3s;
}

.text {
}

.greeting {
}
