.burgerMenuIcon {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 15px 30px;
    box-shadow: 0 0 10px #431548;
    background-color: #ffffff;
    z-index: 2;
}
.pseudoHeader {
    width: 100%;
    height: 60px;
}


.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}