.container {
    margin: 50px;
    padding: 20px;
    background-color: #e5d6ef;

}

.wrapper {
    background-color: #f1bc92;
    padding: 20px;
}

.number {
    font-weight: bold;
}
.MuiSlider-thumb {
    background-color: #7c2e2e;
}